@model LegacyCRM.Web.Models.ViewModels.CustomerViewModel
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName)
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Country)
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Industry)
            @Html.TextBoxFor(m => m.Industry, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status)
            @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.StatusOptions, "Select status", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AssignedToUserId)
            @Html.DropDownListFor(m => m.AssignedToUserId, (IEnumerable<SelectListItem>)ViewBag.AssignedToUserId, "Unassigned", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Notes)
            @Html.TextAreaFor(m => m.Notes, 6, 20, new { @class = "form-control" })
        </div>
    </div>
</div>
